*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/* body{
    background-image: url("vecteezy_abstract-blue-background-simple-design-for-your-website_6852804.jpg");
    color: white;
} */
nav {
    border: 1px red solid;

    display: flex;
    justify-content: space-between;
    
}
nav a {
    border: 1px red solid;

    flex: 0 0 25%;
    text-align: center;
    padding: 4rem 0;
    color: white;
    font-weight: bold;
    font-size: 1.8rem;
    
}
nav a:active {
    color: red;
    text-decoration: line-through;
    
}
nav a:hover {
    color: whitesmoke;
    text-decoration: none;
    background-color: darkcyan;
    transition: 200ms ease-in-out;
}
.container-fluid{
    border: 1px red solid;
    margin-top: 17rem;

}

.details{
    border: 1px red solid;

    float: left;
    width: 60%;
    /* margin-left: 8%;
    margin-top: 15%; */
}
.details h1{
    border: 1px red solid;
    font-size: 7rem;
    color: black;
    /* background: linear-gradient(to right, darkcyan, cyan);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px; */
    margin-left: 18%;
    margin-top: 25%;
}
.details h1 span{
    border: 1px red solid;

    color: darkcyan;
    font-weight: bold;
}
.details p{
    border: 1px red solid;

    line-height: 2rem;
    font-size: large;
    color: #555;
    margin-left: 18%;
    /* margin-top: 15%; */
} 
.details p a {
    border: 1px red solid;
  
    text-decoration: none;
    margin: 2rem 0;
    font-weight: bold;
    color: white;
    background-color: #008b8b;
    padding: .75rem 1rem;
    border-radius: .4rem;
    
}
.details p a:hover{
    color: darkcyan;
    background-color: black;
    text-decoration: none;
}
.image{
    border: 1px red solid;
    float: left;
    width: 40%;
}
.img-responsive{
    display: flex;
}

.Education{
    border: 1px red solid;
    margin-top: 10rem;
    padding: 2rem 5rem 2rem 5rem;

}
.Education h1{
    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 8rem;
}

th{
    border: 1px red solid;

    font-size: 3rem;
}

td{
    border: 1px red solid;
    font-size: 2rem;
}

.Hobbies{
    border: 1px red solid;
    margin-top: 10rem;
    padding: 2rem 5rem 2rem 5rem;
}
.Hobbies h1{
    border: 1px red solid;

    font-weight: bold;
    font-size: 3rem;
    margin-bottom: 8rem;
    text-align: center;
}
.Hobbies ul{
    border: 1px red solid;

    padding-left: 35rem;
    font-size: 2rem;
    margin-bottom: 8rem;
}